<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="ctl.e2e.com.maven.project.ctl.e2e.com.maven.project.jenkin.github.JenkinGithubSampleMethod"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
